<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>tesla-API</title>
</head>
<style>
    a {
        color: blue;
        cursor: pointer;
    }
</style>
<body>
<div>
    <a onclick="getWholeProjectTeam(this)">获取所有项目组</a>
    <p>getWholeProjectTeam</p>
</div>
<div>
    <a onclick="getUserGroups(this)">获取某用户的项目组</a>
    <p>getUserGroups</p>
</div>
<div>
    <a onclick="deleteUserInGroup(this)">从某项目组中删除用户</a>
    <p>deleteUserInGroup</p>
</div>
<div>
    <a onclick="addUserInGroup(this)">从某项目组中增加用户</a>
    <p>addUserInGroup</p>
</div>
<div>
    <a onclick="createGroup(this)">创建新项目组</a>
    <p>createGroup</p>
</div>
<div>
    <a onclick="getUsersInGroup(this)">获取某项目组中的所有用户</a>
    <p>getUsersInGroup</p>
</div>
<div>

    <a onclick="saveMessages(this)">储存用户消息</a>
    <p>saveMessages</p>
</div>
<div>

    <a onclick="getGroupMessages(this)">获取项目组内消息队列 - 10条/页</a>
    <p>getGroupMessages</p>
</div>
<div>
    <a onclick="getUserDaily(this)">获取用户日志</a>
    <p>getUserDaily</p>
</div>
</body>
</html>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script>
  function getWholeProjectTeam(_this) {
    $.ajax({
      url: 'getWholeProjectTeam',
      type: 'POST',
      dataType: 'json',
      data: {
        token:'79d175a980ad6714c1c2c170d95519d6ef03e826',
      }
    }).done(function (data) {
      console.log(data)
      $(_this).parent().children('p').html(JSON.stringify(data))
    }).fail(function () {
      $(_this).parent().children('p').html("获取失败！请检查网络!")
    })
  }

  function getUserGroups(_this) {
    $.ajax({
      url: 'getUserGroups',
      type: 'POST',
      dataType: 'json',
      data: {
        token:'79d175a980ad6714c1c2c170d95519d6ef03e826',
        userID: 'B220F7C944ECD1DDD0BF063F4439E961'
      }
    }).done(function (data) {
      console.log(data)
      $(_this).parent().children('p').html(JSON.stringify(data))
    }).fail(function () {
      $(_this).parent().children('p').html("获取失败！请检查网络!")
    })
  }

  function addUserInGroup(_this) {
    var data = {
      userID: 'B220F7C944ECD1DDD0BF063F4439E961',
      userName: '陈燊豪',
      groupID: '05b93b02da68e78fce1895e0f172096f',
      groupName: 'We are测试项目组'
    }
    $.ajax({
      url: 'addUserInGroup',
      type: 'POST',
      dataType: 'json',
      data: {
        token:'79d175a980ad6714c1c2c170d95519d6ef03e826',
        data: JSON.stringify(data)
      }
    }).done(function (data) {
      console.log(data)
      $(_this).parent().children('p').html(JSON.stringify(data))
    }).fail(function () {
      $(_this).parent().children('p').html("获取失败！请检查网络!")
    })
  }

  function deleteUserInGroup(_this) {
    $.ajax({
      url: 'deleteUserInGroup',
      type: 'POST',
      dataType: 'json',
      data: {
        token:'79d175a980ad6714c1c2c170d95519d6ef03e826',
        userID: 'B220F7C944ECD1DDD0BF063F4439E961',
        groupID: '05b93b02da68e78fce1895e0f172096f'
      }
    }).done(function (data) {
      console.log(data)
      $(_this).parent().children('p').html(JSON.stringify(data))
    }).fail(function () {
      $(_this).parent().children('p').html("获取失败！请检查网络!")
    })
  }

  function createGroup(_this) {
    $.ajax({
      url: 'createGroup',
      type: 'POST',
      dataType: 'json',
      data: {
        token:'79d175a980ad6714c1c2c170d95519d6ef03e826',
        groupID: 'test',
        groupName: 'testname',
        userID: 'B220F7C944ECD1DDD0BF063F4439E961'
      }
    }).done(function (data) {
      console.log(data)
      $(_this).parent().children('p').html(JSON.stringify(data))
    }).fail(function () {
      $(_this).parent().children('p').html("获取失败！请检查网络!")
    })
  }

  function getUsersInGroup(_this) {
    $.ajax({
      url: 'getUsersInGroup',
      type: 'POST',
      dataType: 'json',
      data: {
        token:'79d175a980ad6714c1c2c170d95519d6ef03e826',
        groupID: '05b93b02da68e78fce1895e0f172096f'
      }
    }).done(function (data) {
      console.log(data)
      $(_this).parent().children('p').html(JSON.stringify(data))
    }).fail(function () {
      $(_this).parent().children('p').html("获取失败！请检查网络!")
    })
  }

  function saveMessages(_this) {
    var userData = {
      projectTeam: {
        groupID: '05b93b02da68e78fce1895e0f172096f',
        groupName: 'We are测试项目组'
      },
      userID: 'B220F7C944ECD1DDD0BF063F4439E961',
      userName: '陈燊豪',
      message: '测试测试'
    }
    $.ajax({
      url: 'saveMessages',
      type: 'POST',
      dataType: 'json',
      data: {
        token:'79d175a980ad6714c1c2c170d95519d6ef03e826',
        userData: JSON.stringify(userData)
      }
    }).done(function (data) {
      console.log(data)
      $(_this).parent().children('p').html(JSON.stringify(data))
    }).fail(function () {
      $(_this).parent().children('p').html("获取失败！请检查网络!")
    })
  }

  function getGroupMessages(_this) {
    $.ajax({
      url: 'getGroupMessages',
      type: 'POST',
      dataType: 'json',
      data: {
        token:'79d175a980ad6714c1c2c170d95519d6ef03e826',
        groupID: '05b93b02da68e78fce1895e0f172096f',
        page: 2
      }
    }).done(function (data) {
      console.log(data)
      $(_this).parent().children('p').html(JSON.stringify(data))
    }).fail(function () {
      $(_this).parent().children('p').html("获取失败！请检查网络!")
    })
  }

  function getUserDaily(_this) {

  }
</script>